<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>
           Testing
        </title>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Seach Analysis</h1>
                      <p class="lead">Realtime and actual data analysis</p>
                      <form action="/hello" method="post">
                        <div class="input-group flex-nowrap">
                            
                            <input type="text" class="form-control" placeholder="Enter Tweeter Account Name" name="first_name" aria-label="Username" aria-describedby="addon-wrapping">
                        
                        </div> 
                        <div class="input-group flex-nowrap" style="margin-top: 5px;">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" name= "form" value="Search" />
                          </div>   
                    </form>
                    </div>
        </div>
    
        
    </body>
</html>