<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">        
  
    <title>Document</title>
</head>
<body>
        <div class="p-3 mb-2 bg-warning text-dark"><h1>Tweets Polarity</h1></div>
        <div>
                <h1>Price Chart</h1>

                <p>{{ name }}</p>
          
                <!--<img src={{ name }} alt="Chart" height="42" width="42">-->
                <img src="/plot.png" alt="my plot">
        </div>
        
        
</body>
</html>